NEXT_PUBLIC_CHAMASCORE_CONTRACT=0xAE849506E7C2c8E8B356A4a57aFdca7Bf42D93E5
NEXT_PUBLIC_CHAMASCORE_CIRCLE_ID=3
NEXT_PUBLIC_CHAMASCORE_USDC=0x01C5C0122039549AD1493B8220cABEdD739BC44E
NEXT_PUBLIC_AGENT_METADATA_URL=https://chamascore-agent.vercel.app/agent.json
NEXT_PUBLIC_PROOF_CIRCLE_CREATED_TX=0xb92cad2604b08f8b65324ee05f4ecff59c0c05d905ac6ac06e3c1ac25a5b12c1
NEXT_PUBLIC_PROOF_APPROVAL_TX=
NEXT_PUBLIC_PROOF_CONTRIBUTION_TX=
NEXT_PUBLIC_PROOF_RISK_FLAG_TX=
CHAMASCORE_PRIVATE_KEY=
CHAMASCORE_DEMO_WALLET=0xE6df1c1EcC9cEe37B09172366B92a7eDc026b603
CELO_SEPOLIA_RPC_URL=
